//TYPO
.h__big--primary{
    font-size: 3rem;
    padding: 0 1em 0 1em;
    text-align: center;
    span{
        display: block;
        font-size: 0.5em;
    }
}
.h__small--primary{
    text-align: center;
    font-size: 1.5rem;
    span{
        display: block;
        font-size: 1.2rem;
    }
}

.quote__big--primary{
    font-size: 2rem;
    font-weight: bold;
    padding: 1em 0;
    color: #fff;
    text-shadow: $text_shadow_1;
    span{
        display: block;
        width: 100%;
        text-align: right;
        font-size: 0.8em;
        color: $color_primary;
        text-shadow: $text_shadow_2_bright;
    }
}
.quote__medium--primary{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1em 0;
    color: #fff;
    text-shadow: $text_shadow_2;
    span{
        display: block;
        width: 100%;
        text-align: right;
        font-size: 0.8em;
        color: $color_primary_bright;
    }
}
.span--red{span{color:#c15c5c}}
.span--small{span{font-size:0.6em;}}

.text--center{text-align: center;}
.text--left{text-align: left;}

//shapes
.hexagon {
	width: 100px;
	height: 55px;
	background: red;
	position: relative;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid red;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid red;
}



.text--bright{color: #fff;}
.text--center{
    text-align: center;
}


.flex__center--row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.text__bigger{font-size: 2em;}


//paddingi
.p05em{padding:0.5em;}
.ptb2em{padding:2em 0;}
.ptb3rem{padding:3rem 0;}
.ptb5rem{padding:5rem 0;}
.ptb10rem{padding:10rem 0;}

//backgroundy

.bg__hero{
    background: url(../img/hero__bg_1.jpg) no-repeat  center center;
    background-size: cover;
}
.bg__1{
    background: url(../img/forest.jpg) no-repeat fixed center center;
    background-size: cover;
}
.bg__2{
    background: url(../img/triangle__black.jpg) center center;
}
.bg__3{
    background: url(../img/foto1.jpg) no-repeat left top;
    background-size: cover;
}
@media only screen and (min-width: 768px){
.bg__3{
    background: url(../img/foto1.jpg) no-repeat left top;
    background-size: 50%;
}
}
.bg__dark--50{
    background-color: rgba( 0, 0, 0, 0.5 );
}
.bg__black{background: #000;color: #fff;}

.bg__white{background-color: #fff;}
.bg__white--05{background-color: rgba( 255, 255, 255, 0.5 );}
.bg__white--08{background-color: rgba( 255, 255, 255, 0.8 );}
.bg__white2{background: $color_white_2;}

.bg__blue{background: #002E5C;}


//rozmiary
.mh__vh--100{}
.mw__vw--100{}
.h100p{height:100%;}

.img__responsive{width:100%;}

.img__zoom--10{
    overflow: hidden; 
    img{
    transition: $transition_default;
    cursor:pointer;
    transform: scale(1.1);
        &:hover{transform: scale(1.2)}
    }
}



//list
.list__primary--normal{
    list-style: none;
    li{
        padding:0.3em;
    }
}