/* Style the navbar */

ul{
      -webkit-margin-before:0;
        -webkit-margin-after:0;
        -webkit-margin-start:0;
        -webkit-margin-end:0;
        -webkit-padding-start: 0;
}
//MOBILE--------------------------------------------
@media only screen and (max-width: 767px) {
    .nav__main{display: none;}
    .nav__main__mobile{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: fixed;
        width:100%;
        top:0;
        z-index: 999;
        .nav__main__mobile--logo{
            width:54px;
            height:54px;            
            z-index:3;

        }
        .nav__main__mobile--btn{
            display: inline-block;
              padding: 5px 5px;
              font-size: 1.2rem;
              cursor: pointer;
              text-align: center;
              text-decoration: none;
              outline: none;
              color: #fff719;
              background-color: #4CAF50;
              border: none;
              border-radius: 10px;
              box-shadow: 0 4px #fff600;
            z-index:3;
            
            &:hover {background-color: #3e8e41}

            &:active {
              background-color: #3e8e41;
              box-shadow: 0 2px #898500;
              transform: translateY(2px);
            }
            
        }
        ul{
            position:fixed;
            width:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            list-style: none;
            background:#444;
            z-index:2;
            margin-top:-1000px;
            transition: $transition_default;
            &.show{
                margin-top:0;
            }
            li{
                padding:0.2em;
                a{
                    text-decoration: none;
                    font-weight: bold;
                    color:#fff;
                }
                #nav__main--logo{display: none;}
            }
        }
    } 
    
    
.button--mobile {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button--mobile:hover {background-color: #3e8e41}

.button--mobile:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
    
}









//NORMAL--------------------------------------------

@media only screen and (min-width: 768px) {
    .nav__main__mobile{display: none;}
    .nav__main__mobile--btn{display: none;}
    .nav__main__mobile--logo{display: none;}
.nav__main{
    z-index: 999;
    display: block;
    ul{
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        width:100%;
        background: #e0e0e0;
        border-radius: 1em;
        margin:1em 0;
//        border: 1px solid black;
        transition: $transition_default;
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            height:60px;
            &:hover{
//                background: $color_secondary;
                border-bottom: 0.1em solid $color_secondary;
            }
            
            a{
                color: #000;    
                text-decoration: none;
                font-weight: bold;
                text-align: center;
                padding: 0 0.5em;
            }
        }
    }
    /* dodaje klasę sticky jak osiągnie pozycję przewijania */
    &.sticky{ 
        position: fixed;
        top: 0;
        left: 0;
        right:0;
        transition: $transition_default;
        width: 100%;
        color: #fff;
        ul{
            margin:0;
            border-radius:0;
            background: $color_primary--50p;
            li{
                background:none;
                a{
//                    padding:0;  
                    color:#fff;
                }
            }
        }
    }
}
.nav__margin{
    margin-top: 60px;
}
.nav__main__li--logo{
    padding:0 !important;
    margin:0;
    #nav__main--logo{
//        opacity:0;
        display: none;
        transition: $transition_default;
        &.visible{
//            opacity:1;
            display: block;    
        }
        img{
            
            width:60px;
        }

    }
}
}




