/* Style the navbar */

ul{
      -webkit-margin-before:0;
        -webkit-margin-after:0;
        -webkit-margin-start:0;
        -webkit-margin-end:0;
        -webkit-padding-start: 0;
}
//MOBILE--------------------------------------------
@media only screen and (max-width: 767px) {
    .nav__main{display: none;}
    .nav__main__mobile{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: fixed;
        width:100%;
        top:0;
        z-index: 999;
        .nav__main__mobile--logo{
            width:44px;
            height:44px;            
            z-index:3;

        }
        .nav__main__mobile--btn{
            width:44px;
            height:44px;
            z-index:3;
        }
        ul{
            position:fixed;
            width:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            list-style: none;
            background:#444;
            z-index:2;
            margin-top:-1000px;
            transition: $transition_default;
            &.show{
                margin-top:0;
            }
            li{
                a{
                    text-decoration: none;
                    font-weight: bold;
                    color:#fff;
                }
                #nav__main--logo{display: none;}
            }
        }
    }  
}









//NORMAL--------------------------------------------

@media only screen and (min-width: 768px) {
    .nav__main__mobile{display: none;}
    .nav__main__mobile--btn{display: none;}
    .nav__main__mobile--logo{display: none;}
.nav__main{
    z-index: 999;
    display: block;
    ul{
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        width:100%;
        background: #e0e0e0;
        border-radius: 1em;
        margin:1em 0;
//        border: 1px solid black;
        transition: $transition_default;
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            height:60px;
            &:hover{
//                background: $color_secondary;
                border-bottom: 0.1em solid $color_secondary;
            }
            
            a{
                color: #000;    
                text-decoration: none;
                font-weight: bold;
                text-align: center;
                padding: 0 0.5em;
            }
        }
    }
    /* dodaje klasę sticky jak osiągnie pozycję przewijania */
    &.sticky{ 
        position: fixed;
        top: 0;
        left: 0;
        right:0;
        transition: $transition_default;
        width: 100%;
        color: #fff;
        ul{
            margin:0;
            border-radius:0;
            background: $color_primary--50p;
            li{
                background:none;
                a{
//                    padding:0;  
                    color:#fff;
                }
            }
        }
    }
}
.nav__margin{
    margin-top: 60px;
}
.nav__main__li--logo{
    padding:0 !important;
    margin:0;
    #nav__main--logo{
//        opacity:0;
        display: none;
        transition: $transition_default;
        &.visible{
//            opacity:1;
            display: block;    
        }
        img{
            
            width:60px;
        }

    }
}
}




