:root{
    font-size: $root_font_size; 
    line-height: $root_line_height;
}

p, ul, div, h1, h2, h3{margin:0;}

.logo--big{
    margin:0;
    font-size: 1rem;
    padding: 2em 0;
    text-align: center;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    div{
        img{
            width: 150px;
            height: 150px;
        }
        .quote--big{
            max-width:800px;
            margin-left:44px;
        }
    }
}
@media only screen and (max-width: 767px) {
    .logo--big{display: none;}
}
.quote--big{
    padding:1em;
    position: relative;
    font-size: 1.3rem;
    color: #444;
    span{
        display: block;
        text-align: right;
        font-size:0.8em;
    }
    &:before{
        content: url("../img/apostrof.png");
        width:44px;
        height:44px;
        position:absolute;
        left:-40px;
        top:-10px;
    }
    &:after{
        
    }
}
.hero{
    color: #fff;
    text-shadow: $text_shadow_1;
    .hero__container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            min-height: 600px;
            
        .hero__content{
            text-align: center;
            h1{text-transform: uppercase;}
        }
    }
}


.section{
    &.section--primary{
        background: $color_primary;
    }
    &.section--stripes{
        background: $color_primary;
    }
}

.section--partners{
    h1{
        display: block;
        width:100%;
    }
    .partner{
        position: relative;
        img{
            filter: grayscale(100%);
            height: 150px;
            transition: $transition_default;
            &:hover{
                filter: grayscale(0);
            }
        }
        
        .partner__caption{
            position: absolute;
            left:50%; 
            bottom:0;
            transform: translateX(-50%);
            display: none;
        }
    }
}
.box__medium--v{
    width: 200px;
    min-height: 400px;
    margin: 1em;
    transition: $transition_default;
    .ico{
        width:100%;
        height: 150px;
        background: #666;
    }
    &:hover{
        transform: scale(1.05);
    }
}


.person{
    width: 300px;
    height:400px;
    overflow: hidden;
    color: #fff;
    padding: 1em;
    cursor: pointer;
    img{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 50%;
        box-shadow: 0 0 1em #fd6767;
        padding: .5em;
        transition: $transition_default;
    }
}
.person:hover > img{
    padding:0;
}

.aboutme{

}

.footer{
    min-height:90vh;
    background: #262626;
    color: #fff;
    .footer__container{
        .footer__content{
        
            .footer__content--contact{
                padding:2em;
            }
        }
    }
}







//form





.form-input {
  min-width: 200px;
  width: 100%;
  position: relative;
  margin-top: 1.3em;
  padding: 0;
  color: #111; }
  .form-input.not-empty-input input {
    border-color: #0c75ed; }
  .form-input.not-empty-input label {
    margin-top: -1.1em;
    font-size: 0.8em;
    color: #f9f9f9; }
  .form-input input[type=text], .form-input textarea {
    cursor: text; }
  .form-input input, .form-input textarea, .form-input select {
    border: none;
    border-bottom: 1px solid #111;
    outline: none;
    min-width: inherit;
    width: inherit;
    font-family: inherit; }
    .form-input input + label, .form-input textarea + label, .form-input select + label {
      position: absolute;
      left: 0;
      top: 0;
      transition: 0.5s all; }
    .form-input input:focus, .form-input textarea:focus, .form-input select:focus {
      border-color: #0c75ed; }
      .form-input input:focus + label, .form-input textarea:focus + label, .form-input select:focus + label {
        margin-top: -1.1em;
        font-size: 0.8em;
        color: #f9f9f9; }
  .form-input textarea {
    resize: vertical; }

.form-label-bright {
  font-size: 1.5em;
  color: #f9f9f9; }

