:root{
    font-size: $root_font_size; 
    line-height: $root_line_height;
}

p, ul, div, h1, h2, h3{margin:0;}



.logo--big{
    margin:0;
    font-size: 3rem;
    padding: 2em 0;
    text-align: center;
}

.nav__main{
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        li{
            display: inline-block;
            background: $color_primary;
            padding: 1em;
            position: relative;
            height: 56px;
//            margin: 10px 10px;
            &:hover{
                background: $color_secondary;
            }
            
            a{
                color: #fff;    
                text-decoration: none;
                font-weight: bold;
                text-align: center;
                padding: 0.5em;
            }
        }
    }
}

.hero{
    color: #fff;
    text-shadow: $text_shadow_1;
    .hero__container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            min-height: 600px;
            
        .hero__content{
            text-align: center;
            h1{text-transform: uppercase;}
        }
    }
}


.section{
    &.section--primary{
        background: $color_primary;
    }
    &.section--stripes{
        background: $color_primary;
    }
}



.section--partners{
    h1{
        display: block;
        width:100%;
    }
    .partner{
        position: relative;
        img{
            filter: grayscale(100%);
            height: 150px;
            transition: $transition_default;
            &:hover{
                filter: grayscale(0);
            }
        }
        
        .partner__caption{
            position: absolute;
            left:50%; 
            bottom:0;
            transform: translateX(-50%);
            display: none;
        }
    }
}
.box__medium--v{
    width: 200px;
    min-height: 400px;
    margin: 1em;
    transition: $transition_default;
    .ico{
        width:100%;
        height: 150px;
        background: #666;
    }
    &:hover{
        transform: scale(1.05);
    }
}


.person{
    width: 300px;
    color: #fff;
    padding: 1em;
    cursor: pointer;
    img{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 50%;
        box-shadow: 0 0 1em #fd6767;
        padding: .5em;
        transition: $transition_default;
    }
}
.person:hover > img{
    padding:0;
}

.footer{
    min-height:400px;
    background: #262626;
    color: #fff;
    .footer__container{
        .footer__content{
        
            .footer__content--contact{
                padding:2em;
            }
        }
    }
}


//
//Dzień dobry,
//przepraszam że nie odpisywałem tak długo, ale zawsze koniec roku to bardzo pracowity czas.
//Przejrzałem materiały które mi Pani przysłała i raczej nie będzie to onepage jak zakładałem po rozmowie z Szymonem. Teraz święta, więc niestety nie będę mógł za dużo popracować, ale najszybciej jak to możliwe zaplanuję rozkład treści i pomyślę nad jej rozłożeniem, aby strona była jak najbardziej czytelna i nie przytłaczała od razu po wejściu.
//Z pewnością będę potrzebował więcej zdjęć Pani i  innych wspaniałych kobiet - założycielek fundacji, informacji na temat logo i kolorów związanych z fundacją i na pewno jeszcze kilku cennych informacji, ale to napiszę w następnej wiadomości.
//Proszę jeszcze odpowiedzieć o jakim terminie Pani myśli jeżeli chodzi o postawienie strony na serwerze ?
//
//Życzę Pani wesołych i spokojnych świąt, a także wielu sukcesów związanych z fundacją w nadchodzącym roku. 
//Pozdrawiam.
//Krzysztof Krzepicki
//
//W dniu 21 grudnia 2017 16:08 użytkownik Urszula Hanusiewicz <urszula.hanusiewicz@wp.pl> napisał:
//Dzień Dobry,
//
//mam nadzieję, ze teraz trafiłam z adresem...
//
//Pozdrawiam
//
//U. Hanusiewicz